.text-dark {
  color: #333333;
}

.text-bug {
  color: #C3CE75;
}

.text-dragon {
  color: #F9BE00;
}

.text-electric {
  color: #FFD86F;
}

.text-fairy {
  color: #F469A9;
}

.text-fighting {
  color: #EB4971;
}

.text-fire {
  color: #FB6C6C;
}

.text-flying {
  color: #D6B591;
}

.text-ghost {
  color: #735797;
}

.text-grass {
  color: #48D0B0;
}

.text-ground {
  color: #B1736C;
}

.text-ice {
  color: #7FCCEC;
}

.text-normal {
  color: #C2C2A1;
}

.text-poison {
  color: #7C538C;
}

.text-psychic {
  color: #9B7FA6;
}

.text-rock {
  color: #A6AAB6;
}

.text-steel {
  color: #CCCCDE;
}

.text-water {
  color: #609FB5;
}

.stroke-dark {
  stroke: #333333;
}

.stroke-bug {
  stroke: #C3CE75;
}

.stroke-dragon {
  stroke: #F9BE00;
}

.stroke-electric {
  stroke: #FFD86F;
}

.stroke-fairy {
  stroke: #F469A9;
}

.stroke-fighting {
  stroke: #EB4971;
}

.stroke-fire {
  stroke: #FB6C6C;
}

.stroke-flying {
  stroke: #D6B591;
}

.stroke-ghost {
  stroke: #735797;
}

.stroke-grass {
  stroke: #48D0B0;
}

.stroke-ground {
  stroke: #B1736C;
}

.stroke-ice {
  stroke: #7FCCEC;
}

.stroke-normal {
  stroke: #C2C2A1;
}

.stroke-poison {
  stroke: #7C538C;
}

.stroke-psychic {
  stroke: #9B7FA6;
}

.stroke-rock {
  stroke: #A6AAB6;
}

.stroke-steel {
  stroke: #CCCCDE;
}

.stroke-water {
  stroke: #609FB5;
}

.bg-badge-dark {
  background-color: #707070;
}

.bg-badge-bug {
  background-color: #729F3F;
}

.bg-badge-dragon {
  background-color: #53A4CF;
}

.bg-badge-electric {
  background-color: #EED535;
}

.bg-badge-fairy {
  background-color: #FDB9E9;
}

.bg-badge-fighting {
  background-color: #D56723;
}

.bg-badge-fire {
  background-color: #FD7D24;
}

.bg-badge-flying {
  background-color: #3DC7EF;
}

.bg-badge-ghost {
  background-color: #664497;
}

.bg-badge-grass {
  background-color: #9BCC50;
}

.bg-badge-ground {
  background-color: #AB9842;
}

.bg-badge-ice {
  background-color: #51C4E7;
}

.bg-badge-normal {
  background-color: #A4ACAF;
}

.bg-badge-poison {
  background-color: #B97FC9;
}

.bg-badge-psychic {
  background-color: #F366B9;
}

.bg-badge-rock {
  background-color: #A38C21;
}

.bg-badge-steel {
  background-color: #B7B7B7;
}

.bg-badge-water {
  background-color: #4592C4;
}

